/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css reset end  */

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --Outer-Rounded-Size: .4rem;
  --Inner-Rounded-Size: .2rem;

  --Grid-Item-Size: 2.4rem;

  --xThin-Spacing: .1rem;
  --Thin-Spacing: .2rem;
  --Mid-Spacing: .4rem;
  --Thick-Spacing: .6rem;
  --xThick-Spacing: 1.0rem;


  --ScrollBar-Thic-Spacing: 0.5rem;
  --ScrollBar-Thin-Spacing: 0.4rem;

  --Wall-color: #111111;
  --BG-Odd-color: #3D4155;
  --BG-Even-color: #24313D;
  --Inactive-color: #b1b1b1;
  --FG-color: #ffffff;
  --Accent-color: #AB81FA;
  --Notice-color: #21E1E1;
  --Info-color: #03C988;
  --Important-color: #ffcc33;
  --Warning-color: #F39422;
  --Danger-color: #ED2B2A;
}

@media (prefers-color-scheme: dark) {
  :root {

    --Wall-color: #111111;
    --BG-Odd-color: #3D4155;
    --BG-Even-color: #24313D;
    --Inactive-color: #b1b1b1;
    --FG-color: #ffffff;
    --Accent-color: #AB81FA;
    --Notice-color: #21E1E1;
    --Info-color: #03C988;
    --Important-color: #ffcc33;
    --Warning-color: #F39422;
    --Danger-color: #ED2B2A;
  }
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overscroll-behavior: Container;
}

/* scroll bar start */

*::-webkit-scrollbar {
  position: absolute;
  border-radius: var(--Inner-Rounded-Size);
  background-color: var(--Wall-color);
  width: var(--xThin-Spacing);
}


*::-webkit-scrollbar-thumb:hover {
  background-color: var(--Accent-color);
  filter: brightness(110%)
}

*::-webkit-scrollbar-thumb {
  border-radius: var(--Inner-Rounded-Size);
  background-color: var(--Accent-color);
}

@supports (-moz-appearance: none) {
  * {
    scrollbar-color: var(--Accent-color) var(--Wall-color);
    scrollbar-width: thin;
    scrollbar-gutter: auto;

  }
}

/* scroll bar end */


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--FG-color);
  background-color: var(--Wall-color);

}

.Even {
  background-color: var(--BG-Even-color);
}

.Odd {
  background-color: var(--BG-Odd-color);
}


.Page {
  display: grid;
  flex-direction: column;
  gap: var(--Thick-Spacing);

  justify-items: center;
}

.Card {


  border-radius: var(--Outer-Rounded-Size);
  padding: var(--Mid-Spacing);
  width: 20rem;
  height: 20rem;

  overflow: hidden;
}


.Container {
  display: block;

  overflow-y: auto;

  border-radius: var(--Inner-Rounded-Size);

  width: 100%;
  height: 100%;
}

.List {
  grid-auto-rows: min-content;
  display: grid;
  flex-direction: column;
  gap: var(--Thick-Spacing);
  height: 100%;

  padding: 0;
  border-radius: var(--Inner-Rounded-Size);
  margin-inline-end: var(--ScrollBar-Thin-Spacing);
}

.List-Item {
  width: 100%;
  flex-shrink: 0;
  padding: var(--Mid-Spacing);
  border-radius: var(--Outer-Rounded-Size);
  display: flex;
  line-clamp: 1;
  align-content: center;
  justify-content: start;

  flex-flow: column;
}

.Grid {
  display: grid;
  gap: var(--Mid-Spacing);

  flex-flow: row;
  flex-wrap: wrap;

  grid-template-columns: repeat(auto-fit, var(--Grid-Item-Size));
  grid-auto-flow: dense;

  justify-content: space-between;

  flex-basis: 2.4rem;

  border-radius: var(--Inner-Rounded-Size);
  margin-inline-end: var(--ScrollBar-Thin-Spacing);

}

.Grid-Item {
  display: grid;
  aspect-ratio: 1/1;


  border-radius: var(--Outer-Rounded-Size);
  padding: var(--Thin-Spacing);
  place-items: center;

  width: var(--Grid-Item-Size);

}

.Collapse {
  margin-top: var(--Mid-Spacing);
  display: grid;
  width: 100%;
  height: 200px;
  padding: var(--Thin-Spacing);
  border-radius: var(--Outer-Rounded-Size);
  transition: height .5s 0.1s ease, margin .2s .0s ease, padding .2s .0s ease;
}

.Collapse.Inactive {
  height: 0;
  padding-block: 0;
  margin-top: 0;
  transition: height .5s ease, margin .2s .5s ease, padding .2s .4s ease;
}
